In [ ]:
# Example: Linear Regression with Spark MLlib
from pyspark.sql import SparkSession
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

# Initialize Spark Session
spark = SparkSession.builder.appName('MLlib Example').getOrCreate()

# Load sample data
data = [(1, 5.0, 20.0), (2, 10.0, 25.0), (3, 15.0, 30.0), (4, 20.0, 35.0)]
columns = ['ID', 'Feature', 'Target']
df = spark.createDataFrame(data, columns)

# Prepare data for modeling
assembler = VectorAssembler(inputCols=['Feature'], outputCol='Features')
df_transformed = assembler.transform(df)

# Train a linear regression model
lr = LinearRegression(featuresCol='Features', labelCol='Target')
model = lr.fit(df_transformed)

# Print model coefficients
print(f'Coefficients: {model.coefficients}')
print(f'Intercept: {model.intercept}')

Coefficients: [0.9999999999999992]
Intercept: 15.000000000000009

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import VectorAssembler

# Inisialisasi Spark
spark = SparkSession.builder.appName("LogisticRegressionExample").getOrCreate()

# Contoh dataset
data = [(1, 2.0, 3.0, 0), (2, 1.0, 5.0, 1), (3, 2.5, 4.5, 1), (4, 3.0, 6.0, 0)]
columns = ['ID', 'Feature1', 'Feature2', 'Label']
df = spark.createDataFrame(data, columns)

# Menggabungkan fitur menjadi satu kolom vektor
assembler = VectorAssembler(inputCols=['Feature1', 'Feature2'], outputCol='Features')
df = assembler.transform(df)

# Menyusun dan melatih model logistic regression
lr = LogisticRegression(featuresCol='Features', labelCol='Label')
model = lr.fit(df)

# Menampilkan koefisien dan intercept
print(f'Coefficients: {model.coefficients}')
print(f'Intercept: {model.intercept}')

# Menutup Spark
spark.stop()

Coefficients: [-12.262057929180484,4.087352266486688]
Intercept: 11.56891272665312

In [ ]:
from pyspark.sql import SparkSession
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler

# Inisialisasi Spark
spark = SparkSession.builder \
    .getOrCreate()

# Contoh dataset
data = [(1, 1.0, 1.0), (2, 5.0, 5.0), (3, 10.0, 10.0), (4, 15.0, 15.0)]
columns = ['ID', 'Feature1', 'Feature2']
df = spark.createDataFrame(data, columns)

# Menggabungkan fitur menjadi satu kolom vektor
assembler = VectorAssembler(inputCols=['Feature1', 'Feature2'], outputCol='Features')
df = assembler.transform(df)

# Melatih model KMeans
kmeans = KMeans(featuresCol='Features', k=2)
model = kmeans.fit(df)

# Menampilkan pusat cluster
centers = model.clusterCenters()
print(f'Cluster Centers: {centers}')

# Menutup Spark
spark.stop()

Cluster Centers: [array([5.33333333, 5.33333333]), array([15., 15.])]

HOMEWORK

In [ ]:
from pyspark.sql import SparkSession

# Membuat SparkSession
spark = SparkSession.builder \
    .getOrCreate()

# Memuat dataset dari file CSV
df = spark.read.csv("/content/Rental_Properties.csv", header=True, inferSchema=True)

# Menampilkan beberapa baris dari dataset
df.show()

+---+------------+-----+--------------------+-----+----------+----+-----+----+-----+----------------+-----+-----------+-----+----------+------------+----------------+-------+
| Id|        City|State|      Street_Address|  Zip|House_Type|Beds|Baths|Sqft|Price|Security_Deposit| Pets|Smoking_Ind| Pool|Dishwasher|Washer_Dryer|Air_Conditioning|Parking|
+---+------------+-----+--------------------+-----+----------+----+-----+----+-----+----------------+-----+-----------+-----+----------+------------+----------------+-------+
|  1|   Marlinton|   WV|        805 10th Ave|24954| Apartment|   1|  1.0| 550|$275 |           $275 | TRUE|      false|false|     false|       false|           false|  false|
|  2|Sylvan Grove|   KS|312 N. Pennsylvan...|67481| Apartment|   1|  1.0| 588|$300 |           $300 |FALSE|      false|false|     false|       false|           false|  false|
|  3|   Ishpeming|   MI|550 Cleveland Avenue|49849| Apartment|   1|  1.0| 784|$304 |           $304 | TRUE|      false|false|      true|        true|            true|  false|
|  4|      Glasco|   KS|       410 N. Fisher|67445| Apartment|   1|  1.0| 600|$325 |           $325 |FALSE|      false|false|     false|       false|           false|  false|
|  5|    Florence|   AL|1032 North Wood A...|35630| Apartment|   1|  1.0| 600|$335 |           $500 |FALSE|      false|false|     false|       false|           false|  false|
|  6|    Florence|   AL|  145 Edgewood Drive|35630| Apartment|   1|  1.0| 600|$350 |           $500 |FALSE|      false|false|     false|       false|           false|  false|
|  7|    Florence|   AL| 724 Kendrick Street|35630| Apartment|   1|  1.0| 600|$350 |           $500 |FALSE|      false|false|     false|        true|           false|  false|
|  8|      Glasco|   KS|       410 N. Fisher|67445| Apartment|   1|  1.0| 600|$350 |           $350 |FALSE|      false|false|     false|       false|           false|  false|
|  9|    Columbia|   SC|W Killian Station Ct|29229| Apartment|   1|  1.0| 600|$350 |           $350 |FALSE|      false|false|      true|        true|           false|  false|
| 10|   Lexington|   OK|   11400 96th Street|73051| Apartment|   1|  1.0| 560|$350 |           $350 | TRUE|      false|false|     false|       false|           false|  false|
| 11|   Wimbledon|   ND|     208 Center St 4|58492| Apartment|   1|  1.0| 670|$350 |           $350 | TRUE|      false|false|     false|       false|           false|  false|
| 12|     Roanoke|   AL|  159 County Road 79|36274| Apartment|   1|  1.0| 769|$365 |             $0 |FALSE|      false|false|     false|       false|           false|  false|
| 13|        Edna|   KS|          216 W Main|67342| Apartment|   1|  1.0| 600|$365 |           $365 | TRUE|      false|false|     false|       false|           false|  false|
| 14|  Fort Smith|   AR|     601 S. 14th St.|72901| Apartment|   1|  1.0| 700|$375 |           $200 |FALSE|      false|false|     false|       false|           false|  false|
| 15|    Florence|   AL|432 North Chestnu...|35630| Apartment|   1|  1.0| 650|$375 |           $500 |FALSE|      false|false|     false|        true|            true|  false|
| 16|      Clovis|   NM|        601 Ross St.|88101| Apartment|   1|  1.0| 504|$375 |           $250 |FALSE|      false|false|     false|       false|           false|  false|
| 17|   Marlinton|   WV|     237 Sherrard St|24954| Apartment|   1|  1.0| 700|$375 |           $375 | TRUE|      false|false|     false|        true|           false|  false|
| 18|    Bluffton|   IN|     1800 S Wayne St|46714| Apartment|   1|  1.0| 630|$379 |           $388 | TRUE|      false|false|     false|       false|            true|  false|
| 19| Little Rock|   AR|      4313 Onyx Lane|72117| Apartment|   1|  1.0| 572|$395 |           $250 |FALSE|      false|false|     false|       false|           false|  false|
| 20|  Park Hills|   MO|Pelican Dr./Jane ...|63601| Apartment|   1|  1.0| 500|$395 |           $395 |FALSE|      false|false|     false|       false|           false|  false|
+---+------------+-----+--------------------+-----+----------+----+-----+----+-----+----------------+-----+-----------+-----+----------+------------+----------------+-------+
only showing top 20 rows

In [ ]:
# Memeriksa skema DataFrame
df.printSchema()

# Memeriksa jumlah nilai yang hilang
df.describe().show()

# Menghapus baris dengan nilai yang hilang
df_clean = df.dropna()

root
 |-- Id: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Street_Address: string (nullable = true)
 |-- Zip: string (nullable = true)
 |-- House_Type: string (nullable = true)
 |-- Beds: string (nullable = true)
 |-- Baths: double (nullable = true)
 |-- Sqft: integer (nullable = true)
 |-- Price: string (nullable = true)
 |-- Security_Deposit: string (nullable = true)
 |-- Pets: string (nullable = true)
 |-- Smoking_Ind: boolean (nullable = true)
 |-- Pool: boolean (nullable = true)
 |-- Dishwasher: boolean (nullable = true)
 |-- Washer_Dryer: boolean (nullable = true)
 |-- Air_Conditioning: boolean (nullable = true)
 |-- Parking: boolean (nullable = true)

+-------+------------------+---------+------+--------------------+------------------+----------+------------------+------------------+------------------+-----------------+----------------+------+
|summary|                Id|     City| State|      Street_Address|               Zip|House_Type|              Beds|             Baths|              Sqft|            Price|Security_Deposit|  Pets|
+-------+------------------+---------+------+--------------------+------------------+----------+------------------+------------------+------------------+-----------------+----------------+------+
|  count|            100089|   100089|100089|              100089|            100089|    100089|            100089|            100089|            100089|           100089|          100089|100089|
|   mean|           50045.0|     NULL|  NULL|             19910.8|61856.872008792525|   77354.0|1.9185991906879152| 1.489189621237099|1028.2566815534174|            918.5|            NULL|  NULL|
| stddev|28893.349883667004|     NULL|  NULL|  33044.643895796486| 26610.30222644523|       0.0|0.7651316996376506|0.6179094084970144|1682.2969287982721|294.3756104027642|            NULL|  NULL|
|    min|                 1|Abbeville|    AK|""" 30000 FM 2978...|  TX 77354"" 1831"|     77354|                 1|               1.0|                 1|          $1,000 |             $0 |  $99 |
|    max|            100089| Zirconia|    WY|         york avenue|             99901|  Townhome|         Apartment|               7.0|            509230|              726|           $999 |  TRUE|
+-------+------------------+---------+------+--------------------+------------------+----------+------------------+------------------+------------------+-----------------+----------------+------+

In [1]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler

# Inisialisasi Spark
spark = SparkSession.builder \
    .appName("RentalPropertiesPreparation") \
    .getOrCreate()

# Membaca dataset dari file CSV
df = spark.read.csv("/content/Rental_Properties.csv", header=True, inferSchema=True)

# Menampilkan beberapa baris dari dataset
df.show(5)

# Mengonversi kolom harga menjadi float
df = df.withColumn("Price", df["Price"].substr(2, 10).cast("float"))  # Menghilangkan tanda '$'

# Mengonversi kolom-kolom yang diperlukan menjadi numerik
df = df.withColumn("Beds", df["Beds"].cast("integer")) \
       .withColumn("Baths", df["Baths"].cast("integer")) \
       .withColumn("Sqft", df["Sqft"].cast("integer")) \
       .withColumn("Security_Deposit", df["Security_Deposit"].substr(2, 10).cast("float"))  # Menghilangkan tanda '$'

# Menentukan fitur yang akan digunakan
feature_columns = ['Beds', 'Baths', 'Sqft', 'Security_Deposit']
assembler = VectorAssembler(inputCols=feature_columns, outputCol='features')

# Menerapkan VectorAssembler untuk dataset
df = assembler.transform(df)

# Mempersiapkan label (misal, klasifikasi berdasarkan harga)
df = df.withColumn("label", (df["Price"] > 400).cast("integer"))

# Menampilkan dataset yang sudah dipersiapkan
df.select("features", "label").show(5)

# Menutup Spark
spark.stop()

+---+------------+-----+--------------------+-----+----------+----+-----+----+-----+----------------+-----+-----------+-----+----------+------------+----------------+-------+
| Id|        City|State|      Street_Address|  Zip|House_Type|Beds|Baths|Sqft|Price|Security_Deposit| Pets|Smoking_Ind| Pool|Dishwasher|Washer_Dryer|Air_Conditioning|Parking|
+---+------------+-----+--------------------+-----+----------+----+-----+----+-----+----------------+-----+-----------+-----+----------+------------+----------------+-------+
|  1|   Marlinton|   WV|        805 10th Ave|24954| Apartment|   1|  1.0| 550|$275 |           $275 | TRUE|      false|false|     false|       false|           false|  false|
|  2|Sylvan Grove|   KS|312 N. Pennsylvan...|67481| Apartment|   1|  1.0| 588|$300 |           $300 |FALSE|      false|false|     false|       false|           false|  false|
|  3|   Ishpeming|   MI|550 Cleveland Avenue|49849| Apartment|   1|  1.0| 784|$304 |           $304 | TRUE|      false|false|      true|        true|            true|  false|
|  4|      Glasco|   KS|       410 N. Fisher|67445| Apartment|   1|  1.0| 600|$325 |           $325 |FALSE|      false|false|     false|       false|           false|  false|
|  5|    Florence|   AL|1032 North Wood A...|35630| Apartment|   1|  1.0| 600|$335 |           $500 |FALSE|      false|false|     false|       false|           false|  false|
+---+------------+-----+--------------------+-----+----------+----+-----+----+-----+----------------+-----+-----------+-----+----------+------------+----------------+-------+
only showing top 5 rows

+--------------------+-----+
|            features|label|
+--------------------+-----+
|[1.0,1.0,550.0,27...|    0|
|[1.0,1.0,588.0,30...|    0|
|[1.0,1.0,784.0,30...|    0|
|[1.0,1.0,600.0,32...|    0|
|[1.0,1.0,600.0,50...|    0|
+--------------------+-----+
only showing top 5 rows

In [2]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Inisialisasi Spark
spark = SparkSession.builder \
    .appName("RentalPropertiesClassification") \
    .getOrCreate()

# Membaca dataset dari file CSV
df = spark.read.csv("/content/Rental_Properties.csv", header=True, inferSchema=True)

# Menampilkan skema untuk memeriksa kolom
df.printSchema()

# Mengonversi kolom harga menjadi float
df = df.withColumn("Price", df["Price"].substr(2, 10).cast("float"))  # Menghilangkan tanda '$'

# Mengonversi kolom-kolom yang diperlukan menjadi numerik
df = df.withColumn("Beds", df["Beds"].cast("integer")) \
       .withColumn("Baths", df["Baths"].cast("integer")) \
       .withColumn("Sqft", df["Sqft"].cast("integer")) \
       .withColumn("Security_Deposit", df["Security_Deposit"].substr(2, 10).cast("float"))  # Menghilangkan tanda '$'

# Memeriksa apakah ada nilai null dan menghapusnya
df = df.na.drop()

# Mempersiapkan label (misal, klasifikasi berdasarkan harga)
df = df.withColumn("label", (df["Price"] > 400).cast("integer"))

# Menentukan fitur yang akan digunakan
feature_columns = ['Beds', 'Baths', 'Sqft', 'Security_Deposit']
assembler = VectorAssembler(inputCols=feature_columns, outputCol='features')

# Menerapkan VectorAssembler untuk dataset
df = assembler.transform(df)

# Membagi data menjadi training dan testing
train, test = df.randomSplit([0.8, 0.2], seed=1234)

# Membangun model Logistic Regression
lr = LogisticRegression(featuresCol='features', labelCol='label')
model = lr.fit(train)

# Melakukan prediksi pada data testing
predictions = model.transform(test)

# Menampilkan beberapa prediksi
predictions.select("features", "label", "prediction").show(5)

# Evaluasi model
evaluator = MulticlassClassificationEvaluator(labelCol='label', predictionCol='prediction', metricName='accuracy')
accuracy = evaluator.evaluate(predictions)
print(f'Akurasi Model: {accuracy:.2f}')

# Menutup Spark
spark.stop()

root
 |-- Id: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Street_Address: string (nullable = true)
 |-- Zip: string (nullable = true)
 |-- House_Type: string (nullable = true)
 |-- Beds: string (nullable = true)
 |-- Baths: double (nullable = true)
 |-- Sqft: integer (nullable = true)
 |-- Price: string (nullable = true)
 |-- Security_Deposit: string (nullable = true)
 |-- Pets: string (nullable = true)
 |-- Smoking_Ind: boolean (nullable = true)
 |-- Pool: boolean (nullable = true)
 |-- Dishwasher: boolean (nullable = true)
 |-- Washer_Dryer: boolean (nullable = true)
 |-- Air_Conditioning: boolean (nullable = true)
 |-- Parking: boolean (nullable = true)

+--------------------+-----+----------+
|            features|label|prediction|
+--------------------+-----+----------+
|[1.0,1.0,588.0,30...|    0|       1.0|
|[1.0,1.0,600.0,50...|    0|       1.0|
|[1.0,1.0,570.0,39...|    0|       1.0|
|[1.0,1.0,555.0,40...|    0|       1.0|
|[1.0,1.0,560.0,40...|    0|       1.0|
+--------------------+-----+----------+
only showing top 5 rows

Akurasi Model: 1.00

In [3]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

# Inisialisasi Spark
spark = SparkSession.builder \
    .appName("RentalPropertiesClassification") \
    .getOrCreate()

# Membaca dataset dari file CSV
df = spark.read.csv("/content/Rental_Properties.csv", header=True, inferSchema=True)

# Menampilkan skema untuk memeriksa kolom
df.printSchema()

# Mengonversi kolom harga menjadi float
df = df.withColumn("Price", df["Price"].substr(2, 10).cast("float"))  # Menghilangkan tanda '$'

# Mengonversi kolom yang diperlukan menjadi numerik
df = df.withColumn("Beds", df["Beds"].cast("integer")) \
       .withColumn("Baths", df["Baths"].cast("integer")) \
       .withColumn("Sqft", df["Sqft"].cast("integer")) \
       .withColumn("Security_Deposit", df["Security_Deposit"].substr(2, 10).cast("float"))  # Menghilangkan tanda '$'

# Memeriksa apakah ada nilai null dan menghapusnya
df = df.na.drop()

# Mempersiapkan label (misal, klasifikasi berdasarkan harga)
df = df.withColumn("label", (df["Price"] > 400).cast("integer"))

# Menentukan fitur yang akan digunakan
feature_columns = ['Beds', 'Baths', 'Sqft', 'Security_Deposit']  # Pastikan kolom ini ada
assembler = VectorAssembler(inputCols=feature_columns, outputCol='features')

# Menerapkan VectorAssembler untuk dataset
df = assembler.transform(df)

# Membagi data menjadi training dan testing
train, test = df.randomSplit([0.8, 0.2], seed=1234)

# Menyusun model Logistic Regression
lr = LogisticRegression(featuresCol='features', labelCol='label')

# Menyusun grid parameter untuk cross-validation
paramGrid = ParamGridBuilder() \
    .addGrid(lr.regParam, [0.1, 0.01]) \
    .addGrid(lr.elasticNetParam, [0.0, 0.5, 1.0]) \
    .build()

# Menyusun cross-validator
crossval = CrossValidator(estimator=lr,
                          estimatorParamMaps=paramGrid,
                          evaluator=MulticlassClassificationEvaluator(labelCol='label', predictionCol='prediction', metricName='accuracy'),
                          numFolds=3)

# Melatih model dengan cross-validation
cvModel = crossval.fit(train)

# Melakukan prediksi pada data testing
predictions = cvModel.transform(test)

# Evaluasi model
evaluator = MulticlassClassificationEvaluator(labelCol='label', predictionCol='prediction', metricName='accuracy')
accuracy = evaluator.evaluate(predictions)
print(f'Akurasi Model setelah Tuning: {accuracy:.2f}')

# Menutup Spark
spark.stop()

root
 |-- Id: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Street_Address: string (nullable = true)
 |-- Zip: string (nullable = true)
 |-- House_Type: string (nullable = true)
 |-- Beds: string (nullable = true)
 |-- Baths: double (nullable = true)
 |-- Sqft: integer (nullable = true)
 |-- Price: string (nullable = true)
 |-- Security_Deposit: string (nullable = true)
 |-- Pets: string (nullable = true)
 |-- Smoking_Ind: boolean (nullable = true)
 |-- Pool: boolean (nullable = true)
 |-- Dishwasher: boolean (nullable = true)
 |-- Washer_Dryer: boolean (nullable = true)
 |-- Air_Conditioning: boolean (nullable = true)
 |-- Parking: boolean (nullable = true)

Akurasi Model setelah Tuning: 1.00